html {
    overflow-y: scroll;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 150%;
}

header {
    border-bottom: 3px solid pink;
    padding: 1.6em 30px 1em 30px;
    float: center;
    background-color: #FFE1DA;
    height: 5.8em;
}

header img {
    float: left;
    padding-left: 36%;
    padding-right: 3%;
}

header h1 {
    font-size: 180%;
    padding-top: 8px;
    padding-bottom: 0px;
    height: .7em;
}

header h3 {
    font-size: 80%;
    height: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 45.8%;
    text-align: left;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}


.navbar a {
    text-decoration: none;
    color: white;
    width: 160px;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover{
    background: rgb(255, 84, 84);
}

.home {
    text-align: center;
    padding: 1.5em 3em 1.5em 3em;
    border: 3px solid pink;
    background-color: white;
    width: 35em;
    margin: 3em auto;
    justify-content: space-around;
}
.home p{
    line-height: 1.4;
}

.recipes {
    padding: 1em 1em 1em 1em;
}

.card img{
    padding: 1em 1em 0em 1em;
}

.card h5{
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}
.card p{
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

.card {
    border: 3px solid pink;
    padding: 1em 1em 1em 1em;
    float: left;
    background-color: white;
    margin: 3em 3em 3em 3em;
}

.rpage {
    text-align: center;
    padding: 2em 4em 2em 4em;
    border: 3px solid pink;
    background-color: white;
    width: 30em;
    margin: 3em auto;
    justify-content: space-around;
}

.instructions {
    text-align: left;
    padding: 1em;
    padding-top: 0;
    margin-top: 0;
}

.instructions p{
    line-height: 1.4;
}
